@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 0 0% 7%;

		--muted: 0 0% 96.1%;
		--muted-foreground: 0 0% 45.1%;

		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 7%;

		--card: 0 0% 100%;
		--card-foreground: 0 0% 7%;

		--border: 0 0% 89.8%;
		--input: 0 0% 89.8%;

		--primary: 0 100% 50%;
		--primary-foreground: 0 0% 98%;

		--secondary: 0 0% 96.1%;
		--secondary-foreground: 0 0% 7%;

		--accent: 0 0% 96.1%;
		--accent-foreground: 0 0% 7%;

		--destructive: 0 72.2% 50.6%;
		--destructive-foreground: 0 0% 98%;

		--ring: 0 0% 7%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 0 0% 7%;
		--foreground: 0 0% 98%;

		--muted: 0 0% 14.9%;
		--muted-foreground: 0 0% 63.9%;

		--popover: 0 0% 7%;
		--popover-foreground: 0 0% 98%;

		--card: 0 0% 7%;
		--card-foreground: 0 0% 98%;

		--border: 0 0% 14.9%;
		--input: 0 0% 14.9%;

		--primary: 0 100% 50%;
		--primary-foreground: 0 0% 98%;

		--secondary: 0 0% 14.9%;
		--secondary-foreground: 0 0% 98%;

		--accent: 0 0% 14.9%;
		--accent-foreground: 0 0% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;

		--ring: 0 0% 83.1%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

.neu-up {
	filter: drop-shadow(-4px -4px 8px rgba(119, 119, 119, 0.25)) drop-shadow(4px 4px 8px black);
}
.neu-down,
.hover\:neu-down:hover,
.active\:neu-down:active {
	filter: drop-shadow(-4px -4px 8px black) drop-shadow(4px 4px 8px rgba(119, 119, 119, 0.25));
}

.neu-r {
	box-shadow:
		inset -4px -4px 8px rgba(255, 255, 255, 0.3),
		inset 4px 4px 8px rgba(0, 0, 0, 0.4);
}

@keyframes elongate {
	0% {
		@apply w-16 ml-0;
	}
	50% {
		@apply w-24 -ml-1;
	}
	100% {
		@apply w-16 ml-0;
	}
}

.elongate {
	animation: elongate 0.5s;
}
